body {
    background-color: rgba(236, 245, 250, 0.759);
    text-align: center;
}

h1 {
    text-align:center;
    color: rgb(45, 45, 230)
}

h2 {
    text-align: center;
    color: rgb(34, 39, 32);
}
h2 {
    text-align: center;
}

h3 {
    text-align: center;
    color: rgb(22, 23, 26);
}

input, [type=submit] {
    align-items: center;
}

input[type=text]:valid {
    border: solid 3px rgba(130, 241, 130, 0.807);
}
input[type=text]:invalid {
    border: solid 3px rgb(235, 0, 0);
}

input[type="submit"]:hover {
background-color: rgb(169, 217, 226);
}

fieldset {
   
    background-color: rgb(255, 255, 255);
}

 