body {
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

#contentbox{
    border: 4px solid coral;
    width: 250px;
    margin-left: 50px;
    background-color: rgb(255, 179, 0);
    padding: 15px
}
#Nav{
    float: left;
    width: 25;
    height: 250px;
    background-color: rgb(rgb239, 150, 41);

}
#info{
    margin-left: 15px;
}



