body {
    background-color: rgb(255, 255, 255)
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

#Topic{
    margin-left: 330px;
}
#contentbox{
    border: 20px solid coral;
    width: 300px;
    margin-left: 400px;
    background-color: rgb(255, 179, 0);
    padding: 15px
}
#Nav{
    float: left;
    clear: left;
    padding: 18px;
    width: 20%;
    height: 3500px;
    background-color: rgb(rgb239, 150, 41);
}


#info{
    float: right;
    width: 50%;
    
}



